In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Importing Path
path = r"C:\Users\abiya\01-2023 Instacart Basket Analysis"

In [3]:
# Importing 'orders_products_merged.pkl' 
df_orders_products_merged= pd.read_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged.pkl'))

In [4]:
#Checking the imported dataframe
df_orders_products_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,both
1,1,1,2398795,1,prior,2,3,7,15.000000,196,1,1,Soda,77,7,9.0,both
2,2,2,473747,1,prior,3,3,12,21.000000,196,1,1,Soda,77,7,9.0,both
3,3,3,2254736,1,prior,4,4,7,29.000000,196,1,1,Soda,77,7,9.0,both
4,4,4,431534,1,prior,5,4,15,28.000000,196,1,1,Soda,77,7,9.0,both

In [5]:
# Creating a subset
df = df_orders_products_merged[:1000000]

# Q1
## Creating a column using If statement

In [6]:
# Defining a function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
# Applying the function
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\abiya\AppData\Local\Temp\ipykernel_33980\2918228003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [8]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [9]:
#Checking the maximum price
df['prices'].max()

14.8

## Appling the loc function

In [10]:
df.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
0,0,0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,1,1,2398795,1,prior,2,3,7,15.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product
2,2,2,473747,1,prior,3,3,12,21.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product
3,3,3,2254736,1,prior,4,4,7,29.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product
4,4,4,431534,1,prior,5,4,15,28.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product

In [11]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [12]:
df_orders_products_merged.loc[(df_orders_products_merged['prices'] <= 15) & (df_orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [13]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [14]:
df_orders_products_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21890146
Low-range product     10126384
High-range product      417682
Name: price_range_loc, dtype: int64

## Creating the busiest day column

In [15]:
df['order_dow'].value_counts(dropna = False)

1    189421
0    184410
2    133958
5    130683
6    124839
3    119801
4    116888
Name: order_dow, dtype: int64

In [16]:
result = []

In [17]:

   for value in df_orders_products_merged['order_dow']:
     if value == 0:
       result.append('Busiest day')
     elif value == 4:
       result.append('Least busy')
     else:
       result.append('Regularly busy')

In [18]:
df['order_dow'] = df.apply(price_label, axis=1)

C:\Users\abiya\AppData\Local\Temp\ipykernel_33980\1399759184.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['order_dow'] = df.apply(price_label, axis=1)

In [21]:
df_orders_products_merged['busiest_day'] = result

In [22]:
df_orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22437387
Busiest day        6209632
Least busy         3787193
Name: busiest_day, dtype: int64

In [23]:
df_orders_products_merged.shape

(32434212, 19)

# Q2
## Creating columns with the requested plural days

In [24]:
df_orders_products_merged['order_dow'].value_counts(dropna = False)

0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: order_dow, dtype: int64

In [25]:
# Creating the vector and the loop
result2 = []

In [26]:
for value in df_orders_products_merged['order_dow']:
  if value == 0 or value ==1:
    result2.append('Busiest days')
  elif value == 4 or value == 3:
    result2.append('Slowest days')
  else:
    result2.append('Regularly days')

In [27]:
# Create the new column in question
df_orders_products_merged['busiest_days'] = result2

In [28]:
# Let's the change
df_orders_products_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,0,0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days
1,1,1,2398795,1,prior,2,3,7,15.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
2,2,2,473747,1,prior,3,3,12,21.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
3,3,3,2254736,1,prior,4,4,7,29.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days
4,4,4,431534,1,prior,5,4,15,28.000000,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days

# Q3
## Checking the new values

In [29]:

df_orders_products_merged['busiest_days'].value_counts(dropna = False)

Regularly days    12927461
Busiest days      11875462
Slowest days       7631289
Name: busiest_days, dtype: int64

In [30]:
df_orders_products_merged.shape

(32434212, 20)

# Q4
## Create a new column containing these labels called “busiest_period_of_day.”

In [31]:
# Creating a dataframe with the count of values for the column 'order_hour_of_day'
counts = df_orders_products_merged['order_hour_of_day'].value_counts().rename_axis('hour').reset_index(name='counts')

In [32]:
counts

    hour   counts
0     10  2764390
1     11  2738585
2     14  2691563
3     15  2664522
4     13  2663272
5     12  2620800
6     16  2537469
7      9  2456661
8     17  2089452
9      8  1719952
10    18  1637922
11    19  1259382
12    20   977017
13     7   891928
14    21   796362
15    22   634737
16    23   402612
17     6   290770
18     0   218942
19     1   115786
20     5    88057
21     2    69431
22     4    53283
23     3    51317

In [33]:
# Creating a list showing the percentiles in question
orders = list(df_orders_products_merged['order_hour_of_day'].value_counts().quantile([0.25, 0.5, 0.75]))

In [34]:
orders

[272813.0, 1118199.5, 2558301.75]

## Creating groups with percentiles

In [36]:
# For fewest orders list
few = list(counts.loc[counts['counts'] <= orders[0]]['hour'])

In [37]:
# For average orders list
avg_ords = list(counts[(counts['counts'] > orders[0]) & (counts['counts'] < orders[2])]['hour'])

In [38]:
# For most orders list
Mos_ords = list(counts.loc[counts['counts'] >= orders[2]]['hour'])

### Creating indexes

In [39]:
index_few = df_orders_products_merged['order_hour_of_day'].isin(few)

In [40]:
index_avg_ords = df_orders_products_merged['order_hour_of_day'].isin(avg_ords)

In [41]:
index_Mos_ords = df_orders_products_merged['order_hour_of_day'].isin(Mos_ords)

### Creating the columns in questions with the new lables

In [42]:
df_orders_products_merged.loc[index_few,'busiest_period_of_day'] = 'Fewest orders'

In [43]:
df_orders_products_merged.loc[index_avg_ords,'busiest_period_of_day'] = 'Average orders'

In [44]:
df_orders_products_merged.loc[index_Mos_ords,'busiest_period_of_day'] = 'Most orders'

In [45]:
# Let's see the change
df_orders_products_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,...,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,0,0,2539329,1,prior,1,2,8,11.114836,196,...,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Average orders
1,1,1,2398795,1,prior,2,3,7,15.000000,196,...,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,2,2,473747,1,prior,3,3,12,21.000000,196,...,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,3,3,2254736,1,prior,4,4,7,29.000000,196,...,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,4,4,431534,1,prior,5,4,15,28.000000,196,...,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

In [46]:
df_orders_products_merged.shape

(32434212, 21)

# Q5
##  Printing the frequency for this new column.

In [47]:
df_orders_products_merged['busiest_period_of_day'].value_counts()

Most orders       16143132
Average orders    15694264
Fewest orders       596816
Name: busiest_period_of_day, dtype: int64

# Q6
## Ensured my notebook is clean and structured and that my code is well commented.

# Q7
##  Exporting my dataframe

In [48]:
df_orders_products_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged_updated.pkl'))